* {
  box-sizing: border-box; }

/*insert custom css below*/

body { 
  background-color:#cccccc;
}

div {
  width: 400px;
  border: 2px solid gray;
  padding: 25px;
  margin: 10px;
}

a:link {
    color: #000000;
    text-decoration: none;
}

a:hover {
    color: hotpink;
}
